absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
asttokens
async-timeout
attrs
autograd
autograd-gamma
bert-score
black
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
comm
confection
contourpy
cycler
cymem
cython
datasets
debugpy
decorator
dill
dotmap
emoji
et-xmlfile
exceptiongroup
executing
filelock
fonttools
formulaic
frozenlist
fsspec
h11
h5py
hf-xet
httpcore
httpx
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
iniconfig
interface-meta
ipykernel
ipython
jedi
jinja2
joblib
jsonpickle
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kiwisolver
langcodes
language-data
lazy-loader
lifelines
loguru
marisa-trie
markdown-it-py
markupsafe
matplotlib
matplotlib-inline
mdurl
medspacy
medspacy-quickumls
medspacy-unqlite
mpmath
multidict
multiprocess
murmurhash
mypy-extensions
narwhals
nest-asyncio
networkx
neurite
nibabel
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
ollama
opencv-python
openpyxl
packaging
pandas
parso
pathspec
pexpect
pillow
platformdirs
pluggy
preshed
prompt-toolkit
propcache
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyarrow-hotfix
pydantic
pydantic-core
pyfastner
pygments
pyparsing
pyperclip
pyrush
pysbd
pysimstring
pystrum
pytest
python-dateutil
pytokens
pytz
pyyaml
pyzmq
quicksectx
radeval
radgraph
referencing
regex
requests
rich
rouge-score
rpds-py
safetensors
sanitext
scikit-image
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
stanza
sympy
thinc
threadpoolctl
tifffile
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typer
typer-slim
typing-extensions
typing-inspection
tzdata
unidecode
urllib3
voxelmorph
wasabi
wcwidth
weasel
wrapt
xxhash
yarl
zipp